<div class="container-fluid">
    <h1>Portfolio</h1>
    <p>Insert portfolio text here. I don't feel like copying all the Latin from the JPEG, so this will be my fake text instead. I'll add one more line to make it longer.</p>
    <div class="row">
        <div class="col-lg-4">
            <div style="background: white url(http://via.placeholder.com/700x400) no-repeat; background-size: 100%; height: 30vh;"></div>
            <a href="#"><h3>Project Name</h3></a>
            <p>Here is my text describing this particular project.  It will be the same text for all three projects.</p>
        </div>
        <div class="col-lg-4">
            <div style="background: white url(http://via.placeholder.com/700x400) no-repeat; background-size: 100%; height: 30vh;"></div>
            <a href="#"><h3>Project Name</h3></a>
            <p>Here is my text describing this particular project.  It will be the same text for all three projects.</p>
        </div>
        <div class="col-lg-4">
            <div style="background: white url(http://via.placeholder.com/700x400) no-repeat; background-size: 100%; height: 30vh;"></div>
            <a href="#"><h3>Project Name</h3></a>
            <p>Here is my text describing this particular project.  It will be the same text for all three projects.</p>
        </div>
    </div>
</div>
    