  <div class="row" style="padding: 8rem">
    		<div class="col-4">
				      <img style="float: left; border-radius: 100%" src="assets/img/2.jpg"></img>
    		</div>
    		<div class ="col">
				       <h1>The Second Heading <span style="color: grey">Is Pretty Cool Too</span></h1>
				       <p style="font-family:sans-serif; font-size: 2rem; font-weight: 100;"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			  </div>
  </div>
